/* ===========================
 table of contents
==============================
1. Header Design
2. Button & icon
3- Modal == pop up
4- Responsive Design (media query)*/

/* ========================
    1. Header Design
=========================== */
.header{
    border-bottom: 1px solid var(--border-color);
    margin: 1.5rem 0 1rem 0;
}
nav.navbar{
    padding: 18px 0px ;
    /* position: fixed; */
    top: 0;
    z-index: 9999;
    transition: all .5s ease;
    margin-left: -.8rem;
}

.scrolled{
    position: fixed;
    padding: 0px ;
    background-color:rgba(18, 18, 18, 0.785);
    width: 87%;

}

.navbar a.navbar-brand{
    width: 9%;
}

.navbar-nav .nav-link{
    margin-left: 20px;
    font-weight: 400;
    color: #fff !important;
    letter-spacing: .8px;
    padding: 0px 25px ;
    font-size: 18px;
    opacity: .75;
}

.navbar-nav .nav-link:hover , 
.navbar-nav .nav-link:focus{
    opacity: 1;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.soical-icon{
    display: inline-block;
    margin-left: 14px;

}

.social-icon a.icon {
    width: 42px;
    height: 42px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background: rgba(217, 217, 217, 0.1);
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all .5s ease;
    z-index: 1;
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
    z-index: 3;
}
.social-icon a:hover::before {
    transform: scale(1);
    z-index: -1;
}

.social-icon a.icon:hover{
    color: black;
    z-index: 1;
}

.navbar-text button.btn{
    font-size: 35px;
    color: white;
    margin-left: 20px;
    position: relative;
    transition: all .5s ease;
}


button.btn:hover{
    color: var(--dark-color);
    font-weight: 500;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: none;
    background:white;
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}
.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;

}
.navbar-toggler .navbar-toggler-icon::after {
    bottom:  -8px;


}
.navbar-toggler .navbar-toggler-icon:before, .navbar-toggler .navbar-toggler-icon:after {
    position: absolute;
    background:white;
    width: 30px;
    height: 2px;
    content: '';
}
.navbar-toggler:hover{
    box-shadow: none;
}


/* =====================================
  4- Responsive Design (media query)
======================================== */




@media only screen and (max-width: 992px) {
    
    .navbar {
        background: transparent;
        margin-left: 0;
        border: none;
        background-color: transparent;
      }
  }

@media only screen and (max-width: 768px) {
    .navbar {
      background: transparent;
      margin-left: 0;
      border: none;
      background-color: transparent;
    }

  }
