@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-family: "Roboto", sans-serif;
  }

:root{
    --primary-color : #000; 
    --secodary-color : #18181B;
    --border-color : rgba(63,63,70,.4);
    --title-color : rgb(244 244 245);
    --sub-title-color : rgb(161 161 170);
    --golden-color : #fa4;

    --border-raduis-small : 10px;
    --border-raduis-mediam : 50px;


}


*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;

}

a{
    color: white  !important;
    text-decoration: none;
    
}


.light{
    --primary-color : white;
}

body{
    background-color: #000;
    color : #18181B
}

.container{
    background-color: var(--secodary-color);
    color: white;
    /* border: 1px solid var(--border-color); */
}

.divider{
    border-bottom: 1px solid var(--border-color);
    margin: 3rem 0 1rem 0;
}

.red{
    color: red;
}

.green{
    color: green;
}